# Dependencies
node_modules/
.venv/
venv/
__pycache__/

# Environment Variables
.env
.env.local

# Next.js
.next/
out/

# System Files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
