@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), sans-serif;
  --font-serif: var(--font-serif), serif;

  --color-coffee-dark: #1A3C34;
  --color-coffee-light: #F3F1E7;
  --color-coffee-accent: #C8A165;
  --color-coffee-text: #2C2C2C;
  --color-coffee-card: #FFFFFF;
}

:root {
  --background: var(--color-coffee-light);
  --foreground: var(--color-coffee-text);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar Hide */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}